@model ComputerParts.Models.Motherboard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Motherboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (Model.Image == null)
            {
                Model.Image = "https://s5emagst.akamaized.net/products/559/558617/images/res_56ab6feedbfae6dea461c4cd27a7f789_450x450_3d9l.jpg";
            }
            <img src="@Url.Content(Model.Image)" height="300" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p class="btn btn-default">
    @Html.ActionLink("Back to List", "Index")
</p>
